<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Yedang BigData Random Search</title>
	<meta name="description" content="Yedang BigData Random Search" />
	<meta name="keywords" content="bigdata, search" />
	<meta name="author" content="Kinetic27" />

	<link rel="shortcut icon" href="../favicon.ico">
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>

	<div id="container" class="container">
		<header class="header">
			<div class="bg-img"><img id='img' src="img/1.jpg" alt="Background Image" /></div>

			<div id='text' class="title">
				<h1>Yedang BigData Club</h1>
			</div>
		</header>
	</div><!-- /container -->

	<script src="js/main.js"></script>
</body>

</html>
